header {
  float: left;
  width: 100%;
  outline: 1px solid black;
  nav {
    float: left;
    width: 100%;
    h1 {
      float: left;
    }
    ul {
      float: right;
      li {
        display: inline;
        line-height: 3em;
        margin-right: 2em;
        a {
          text-decoration: none;
        }
      }
    }
  }
}

main {
  clear: left;
}
